/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*Footer*/

footer {
  height: 64px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/*Colours*/

.flash {
  color: #ce201b;
}

body {
  background-color: #1a323e;
}

.bg-nav {
  background-color: #902724;
}

.search-bar {
  background-color: darkslateblue;
}

.bg-fab {
  background-color: #1b729f;
}

.card-content {
  background-color: darkslateblue;
  color: aquamarine;
}

.title {
  color: rgb(0, 0, 0);
  border-bottom: 1px solid black;
}

.content {
  color: aquamarine;
}

.submit {
    background-color: #039be5;
}

.submit:hover {
    background-color: blueviolet;
}

.cancel {
    background-color: #F44336;
}

.cancel:hover {
    background-color: rgb(194, 191, 0);
}

/*Logo, images and icons*/
.card-image img {
  height: 500px;
}

.comic-image {
  width: 100%;
}

.heart {
  font-size: 25px;
  color: #f23c27 !important;
}

.fa-undo {
  top: 7px;
  position: relative;
}

#logo {
  width: 64px;
}

.fa-bars {
  color: black;
}

.banner-image img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}

.banner {
  height: 500px;
}

/*Buttons*/
.btn {
  margin-top: 4px;
}

.cancel, .submit {
  border-radius: 25px;
  height: 50px;
  width: 50px;
}

.subscribe {
  border-radius: 15px;
  background-color: #902724;
}

.subscribe:hover {
    background-color: #f23c27;
}

/*Card*/
.card-title {
  font-size: 15px !important;
}

.genre {
  font-size: 12px;
}

/*Search Bar*/
.search-bar {
  width: 47%;
  margin: auto;
  margin-top: 10px;
}

/*Navbar and Sidenav*/
.site-logo {
  position: relative;
  top: -17px;
  font-weight: 600;
}

.sidenav li {
  border-bottom: 1px solid black;
}

.comic-page {
  padding: 30px;
}

.hide {
  display: none;
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
}

/*Misc*/

.join {
  position: relative;
  top: 10vh;
  background-color: #a2ab1887;
  padding: 10px !important;
}

.join p {
  font-size: 30px;
  font-weight: 700;
}

/*Media Queries*/
@media only screen and (max-width: 600px) {
  #logo {
    width: 54px;
  }

  .search-bar {
    width: 100%;
    margin: auto;
    margin-top: 10px;
  }

  .site-logo {
    font-size: 22px;
  }

  .btn.green {
    font-size: 8px;
  }
}