.card-image img {
    max-height: 542px;
}

.btn-small {
    margin-top: 4px;
}

.bottom-para {
    transform: translate3d(-50%, 303.788px, 0px)!important;
}

.parallax-container {
    height: 517px;
}

.comic-image {
    width: 100%;
}

.comic-page {
    padding: 30px;
}