{% extends "index.html" %}
{% block title %}
404
{% endblock %}

{% block content %}

    <!--404 Error Page, Returns user to home page.-->
    <div class="row">
        <div class="col s12">
            <h3 class="center-align title">Page Not Found</h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col s12 center-align">
            <p>What you were looking for is just not there.</p>
            <p>
                <a href="{{ url_for('home') }}" class="btn btn-medium">go somewhere nice</a>
            </p>
        </div>
    </div>

{% endblock %}