{% extends "index.html" %}
{% block title %}
    {{title}}
{% endblock %}

{% block bannertop %}
    <div class="banner">
        <div class="banner-image">
            <img src="https://cdn.vox-cdn.com/thumbor/Xn60_vVln4vtdRr8RCwrKMMzNMo=/0x0:4665x3110/1200x800/filters:focal(1960x1182:2706x1928)/cdn.vox-cdn.com/uploads/chorus_image/image/66607675/AP19276581004922.7.jpg" alt="banner-image">
        </div>
        {% if session.username is not defined %}
            <div class="row">
                <div class="col m4 offset-m4 s12 center-align join">
                    <p>
                        Join a growing community today!
                    </p>
                    <a class="btn btn-large subscribe" href="{{ url_for('register') }}">Register</a>
                </div>
            </div>
        {% else %}
        <div class="row">
                <div class="col m4 offset-m4 s12 center-align join">
                    <p>
                        For All Your Comic Needs!
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
    <!--Search Bar-->
    <div class="row search-bar card">
        <form action="{{ url_for('home') }}" method="GET" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8 no-wrap">
                    <input type="text" name="query" id="query" minlength="3" class="validate white-text" required>
                    <label for="query">Search Comics</label>
                </div>
                <div class="col s12 m4">
                    <button type="submit" class="btn submit">
                        <i class="fas fa-search left"></i>
                    </button>
                    <a href="{{ url_for('home') }}" class="btn cancel">
                        <i class="fas fa-undo"></i></a>
                </div>
            </div>
        </form>
    </div>

    <!--Checks if comics has length greater than 0-->
    {% if comics| length > 0 %}
        <div class="row">
            <!--Itterate through comics if length greater than 0-->
            {% for comic in comics %}
            <!--No Mature filter-->
                {% if session.mature == "no" %}
                    <div class="col s12 m4">
                        <div class="card hoverable">
                            <!--Card Image-->
                            <div class="card-image">
                                <a href="{{ url_for('more_info', entry_id=comic._id, comic_name=comic.comic_name|replace(' ', '_')) }}">
                                    <img src="{{ comic.comic_image }}" alt="{{ comic.comic_name }}">
                                </a>
                                <!--If user exists-->
                                {% if session.username %}
                                    <!--If favourites exists-->
                                    {% if favourites|length %}
                                        <!--Iterate through favourites to show either addFavourite or deleteFavourite button-->
                                        {% for favourite in favourites %}
                                            <!--If favourite matches username and comic name then addFavourite is hidden and deleteFavourite is visible-->
                                            {% if favourite.username == session.username and favourite.comic_name == comic.comic_name %}
                                                <button type="submit" onclick="addFavourite(this.id)" id="{{ comic.comic_name }}"
                                                    class="favourite btn-floating halfway-fab bg-fab hide">
                                                    <i class="heart far fa-heart"></i>
                                                </button>
                                                <button type="submit" onclick="deleteFavourite(this.id)" id="{{ comic.comic_name }}"
                                                    class="unfavourite btn-floating halfway-fab bg-fab">
                                                    <i class="heart fas fa-heart"></i>
                                                </button>
                                                <!--Then Breaks-->
                                                {% break %}
                                            {% elif loop.last %}
                                                <button type="submit" onclick="addFavourite(this.id)" id="{{ comic.comic_name }}"
                                                    class="favourite btn-floating halfway-fab bg-fab">
                                                    <i class="heart far fa-heart"></i>
                                                </button>
                                                <button type="submit" onclick="deleteFavourite(this.id)" id="{{ comic.comic_name }}"
                                                    class="unfavourite btn-floating halfway-fab bg-fab hide">
                                                    <i class="heart fas fa-heart"></i>
                                                </button>
                                            {% else %}
                                                <!--Continues if no match-->
                                                {% continue %}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <!--If no favourites sets default-->
                                        <button type="submit" onclick="addFavourite(this.id)" id="{{ comic.comic_name }}"
                                            class="favourite btn-floating halfway-fab bg-fab">
                                            <i class="heart far fa-heart"></i>
                                        </button>
                                        <button type="submit" onclick="deleteFavourite(this.id)" id="{{ comic.comic_name }}"
                                            class="unfavourite btn-floating halfway-fab bg-fab hide">
                                            <i class="heart fas fa-heart"></i>
                                        </button>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <!--Card Content-->
                            <div class="card-content center-align">
                                <span class="card-title">{{ comic.author }}</span>
                                <p class="genre no-wrap">
                                    {{ comic.genre }}
                                </p>
                                <div class="card-action center-align">
                                    <!--If user is the creator or a moderator, shows delete and edit buttons-->
                                    {% if session.username == comic.submitted_by or session.moderator == "yes" %}
                                        <a href="{{ url_for('delete_comic', entry_id=comic._id) }}" class="red btn btn-small">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                        <a href="{{ url_for('edit_entry', entry_id=comic._id)}}" class="btn btn-small green">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    <!--Otherwise shows only buy and more info buttons-->
                                    {% endif %}
                                        <a href="{{ comic.buy_from }}" class="btn btn-small indigo lighten-1" target="_blank">Buy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--If mature filter is on then skips mature comics.-->
                    {% elif session.mature == "yes" and comic.is_mature == "no" %}
                    <div class="col s12 m4">
                        <div class="card hoverable">
                            <div class="card-image">
                                <a href="{{ url_for('more_info', entry_id=comic._id, comic_name=comic.comic_name|replace(' ', '_')) }}">
                                    <img src="{{ comic.comic_image }}" alt="{{ comic.comic_name }}">
                                </a>
                                <!--Similar to above except comics are filtered for maturity-->
                                {% if session.username %}
                                    {% if favourites|length %}
                                        {% for favourite in favourites %}
                                            {% if favourite.username == session.username and favourite.comic_name == comic.comic_name %}
                                                <button type="submit" onclick="addFavourite(this.id)" id="{{ comic.comic_name }}"
                                                    class="favourite btn-floating halfway-fab bg-fab hide">
                                                    <i class="heart far fa-heart"></i>
                                                </button>
                                                <button type="submit" onclick="deleteFavourite(this.id)" id="{{ comic.comic_name }}"
                                                    class="unfavourite btn-floating halfway-fab bg-fab">
                                                    <i class="heart fas fa-heart"></i>
                                                </button>
                                                {% break %}
                                            {% elif loop.last %}
                                                <button type="submit" onclick="addFavourite(this.id)" id="{{ comic.comic_name }}"
                                                    class="favourite btn-floating halfway-fab bg-fab">
                                                    <i class="heart far fa-heart"></i>
                                                </button>
                                                <button type="submit" onclick="deleteFavourite(this.id)" id="{{ comic.comic_name }}"
                                                    class="unfavourite btn-floating halfway-fab bg-fab hide">
                                                    <i class="heart fas fa-heart"></i>
                                                </button>
                                            {% else %}
                                                {% continue %}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <button type="submit" onclick="addFavourite(this.id)" id="{{ comic.comic_name }}"
                                            class="favourite btn-floating halfway-fab bg-fab">
                                            <i class="heart far fa-heart"></i>
                                        </button>
                                        <button type="submit" onclick="deleteFavourite(this.id)" id="{{ comic.comic_name }}"
                                            class="unfavourite btn-floating halfway-fab bg-fab hide">
                                            <i class="heart fas fa-heart"></i>
                                        </button>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="card-content center-align">
                                <span class="card-title">{{ comic.author }}</span>
                                <p class="genre no-wrap">
                                    {{ comic.genre }}
                                </p>
                                <div class="card-action center-align">
                                    {% if session.username == comic.submitted_by or session.moderator == "yes" %}
                                        <a href="{{ url_for('delete_comic', entry_id=comic._id) }}" class="red btn btn-small">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                        <a href="{{ url_for('edit_entry', entry_id=comic._id)}}" class="btn btn-small green">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                    {% endif %}
                                    <a href="{{ comic.buy_from }}" class="btn btn-small indigo lighten-1" target="_blank">Buy</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            {% if session.username %}
                <div class="row">
                    <div class="col s12 center-align">
                        <p class="white-text">
                            Don't See A Comic You Are Looking For?
                        </p>
                        <a href="{{ url_for('new_comic') }}" class="btn btn-medium subscribe">Add It!</a>
                    </div> 
                </div>
            {% endif %}
        </div>
    {% else %}
        <!--Displays if no favourites or no search results-->
        <h4 class="red-text center-align">No Results Found</h4>
    {% endif %}

{% endblock %}