{% extends "index.html" %}
{% block title %}
Home
{% endblock %}

{% block content %}

    <div class="row search-bar card grey lighten-5">
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8 no-wrap">
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Comics</label>
                </div>
                <div class="col s12 m4">
                    <button type="submit" class="light-blue darken-1 btn submit">
                        <i class="fas fa-search left"></i>
                    </button>
                    <a href="{{ url_for('home') }}" class="red btn cancel">
                        <i class="fas fa-undo"></i></a>
                </div>
            </div>
        </form>
    </div>

{% if comics| length > 0 %}
    <div class="row">
        {% for comic in comics %}
            {% if session.mature == "no" %}
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ comic.comic_image }}" alt="{{ comic.comic_name }}">
                        {% if session.user %}
                            {% if favourites|length %}
                                {% for favourite in favourites %}
                                    {% if favourite.username == session.user and favourite.comic_id == comic.comic_name %}
                                        <button type="submit" onclick="addFavourite(this.id)" id="{{ comic.comic_name }}" class="favourite btn-floating halfway-fab blue hide">
                                            <i class="heart far fa-heart"></i>
                                        </button>
                                        <button type="submit" onclick="deleteFavourite(this.id)" id="{{ comic.comic_name }}" class="unfavourite btn-floating halfway-fab blue">
                                            <i class="heart fas fa-heart"></i>
                                        </button>
                                        {% break %}
                                    {% elif loop.last %}
                                        <button type="submit" onclick="addFavourite(this.id)" id="{{ comic.comic_name }}"
                                            class="favourite btn-floating halfway-fab blue">
                                            <i class="heart far fa-heart"></i>
                                        </button>
                                        <button type="submit" onclick="deleteFavourite(this.id)" id="{{ comic.comic_name }}"
                                            class="unfavourite btn-floating halfway-fab blue hide">
                                            <i class="heart fas fa-heart"></i>
                                        </button>
                                    {% else %}
                                        {% continue %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <button type="submit" onclick="addFavourite(this.id)" id="{{ comic.comic_name }}" class="favourite btn-floating halfway-fab blue">
                                    <i class="heart far fa-heart"></i>
                                </button>
                            <button type="submit" onclick="deleteFavourite(this.id)" id="{{ comic.comic_name }}" class="unfavourite btn-floating halfway-fab blue hide">
                                    <i class="heart fas fa-heart"></i>
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title">{{ comic.author }}</span>
                        <p class="genre no-wrap">
                            {{ comic.genre }}
                        </p>
                        <div class="card-action center-align">
                            {% if session.user == comic.submitted_by or session.moderator == "yes" %}
                                <a href="{{ url_for('delete_comic', entry_id=comic._id) }}" class="red btn-small">Delete</a>
                                <a href="{{ url_for('edit_entry', entry_id=comic._id)}}" class="btn btn-small green">Edit</a>
                            {% endif %}
                                <a href="{{ comic.buy_from }}" class="btn btn-small indigo lighten-1">Buy</a>
                                <a href="{{ url_for('more_info', entry_id=comic._id, comic_name=comic.comic_name|replace(' ', '_')) }}"
                                    class="btn btn-small light-blue darken-2 ">More Info...</a>
                        </div>
                    </div>
                </div>
            </div>
            {% elif session.mature == "yes" and comic.is_mature == "no" %}
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ comic.comic_image }}" alt="{{ comic.comic_name }}">
                        {% if session.user %}
                            {% if favourites|length %}
                                {% for favourite in favourites %}
                                    {% if favourite.username == session.user and favourite.comic_id == comic.comic_name %}
                                        <button type="submit" onclick="addFavourite(this.id)" id="{{ comic.comic_name }}" class="favourite btn-floating halfway-fab blue hide">
                                            <i class="heart far fa-heart"></i>
                                        </button>
                                        <button type="submit" onclick="deleteFavourite(this.id)" id="{{ comic.comic_name }}" class="unfavourite btn-floating halfway-fab blue">
                                            <i class="heart fas fa-heart"></i>
                                        </button>
                                        {% break %}
                                    {% elif loop.last %}
                                        <button type="submit" onclick="addFavourite(this.id)" id="{{ comic.comic_name }}"
                                            class="favourite btn-floating halfway-fab blue">
                                            <i class="heart far fa-heart"></i>
                                        </button>
                                        <button type="submit" onclick="deleteFavourite(this.id)" id="{{ comic.comic_name }}"
                                            class="unfavourite btn-floating halfway-fab blue hide">
                                            <i class="heart fas fa-heart"></i>
                                        </button>
                                    {% else %}
                                        {% continue %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <button type="submit" onclick="addFavourite(this.id)" id="{{ comic.comic_name }}" class="favourite btn-floating halfway-fab blue">
                                    <i class="heart far fa-heart"></i>
                                </button>
                            <button type="submit" onclick="deleteFavourite(this.id)" id="{{ comic.comic_name }}" class="unfavourite btn-floating halfway-fab blue hide">
                                    <i class="heart fas fa-heart"></i>
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="card-content center-align">
                        <span class="card-title">{{ comic.author }}</span>
                        <p class="genre no-wrap">
                            {{ comic.genre }}
                        </p>
                        <div class="card-action center-align">
                            {% if session.user == comic.submitted_by or session.moderator == "yes" %}
                                <a href="{{ url_for('delete_comic', entry_id=comic._id) }}" class="red btn-small">Delete</a>
                                <a href="{{ url_for('edit_entry', entry_id=comic._id)}}" class="btn btn-small green">Edit</a>
                            {% endif %}
                                <a href="{{ comic.buy_from }}" class="btn btn-small indigo lighten-1">Buy</a>
                                <a href="{{ url_for('more_info', entry_id=comic._id, comic_name=comic.comic_name|replace(' ', '_')) }}"
                                    class="btn btn-small light-blue darken-2 ">More Info...</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <h4 class="red-text center-align">No Results Found</h4>
{% endif %}

{% endblock %}